# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
venv/
.env

# Data & DVC
data/raw/*.csv          # ignore raw CSVs
!data/**/*.dvc          # allow DVC pointer files
!data/**/.gitignore     # allow DVC-generated gitignores
.dvc/cache
.dvc/tmp

# IDEs & Notebooks
.vscode/
.idea/
.ipynb_checkpoints/

# OS
.DS_Store

data/processed/
